@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Branco */
    --foreground: 20 14.3% 4.1%; /* Cinza escuro */
    --card: 0 0% 100%; /* Branco */
    --card-foreground: 20 14.3% 4.1%; /* Cinza escuro */
    --popover: 0 0% 100%; /* Branco */
    --popover-foreground: 20 14.3% 4.1%; /* Cinza escuro */
    --primary: 163 80% 43%; /* Verde */
    --primary-foreground: 0 0% 100%; /* Branco */
    --secondary: 162 52.7% 67.3%; /* Verde claro */
    --secondary-foreground: 20 14.3% 4.1%; /* Cinza escuro */
    --muted: 162 52.7% 67.3%; /* Verde claro */
    --muted-foreground: 25 5.3% 44.7%; /* Cinza escuro */
    --accent: 162 52.7% 67.3%; /* Verde claro */
    --accent-foreground: 20 14.3% 4.1%; /* Cinza escuro */
    --destructive: 0 84.2% 60.2%; /* Vermelho */
    --destructive-foreground: 0 0% 100%; /* Branco */
    --border: 20 5.9% 90%; /* Cinza claro */
    --input: 20 5.9% 90%; /* Cinza claro */
    --ring: 163 80% 43%; /* Verde */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%; /* Vermelho */
    --chart-2: 173 58% 39%; /* Verde */
    --chart-3: 197 37% 24%; /* Azul */
    --chart-4: 43 74% 66%; /* Amarelo */
    --chart-5: 27 87% 67%; /* Laranja */
  }

  .dark {
    --background: 20 14.3% 4.1%; /* Cinza escuro */
    --foreground: 0 0% 100%; /* Branco */
    --card: 20 14.3% 4.1%; /* Cinza escuro */
    --card-foreground: 0 0% 100%; /* Branco */
    --popover: 20 14.3% 4.1%; /* Cinza escuro */
    --popover-foreground: 0 0% 100%; /* Branco */
    --primary: 162 52.7% 67.3%; /* Verde claro */
    --primary-foreground: 20 14.3% 4.1%; /* Cinza escuro */
    --secondary: 163 80% 43%; /* Verde */
    --secondary-foreground: 0 0% 100%; /* Branco */
    --muted: 162 52.7% 67.3%; /* Verde claro */
    --muted-foreground: 25 5.3% 44.7%; /* Cinza escuro */
    --accent: 162 52.7% 67.3%; /* Verde claro */
    --accent-foreground: 0 0% 100%; /* Branco */
    --destructive: 0 62.8% 30.6%; /* Vermelho */
    --destructive-foreground: 0 0% 100%; /* Branco */
    --border: 12 6.5% 15.1%; /* Cinza escuro */
    --input: 12 6.5% 15.1%; /* Cinza escuro */
    --ring: 163 80% 43%; /* Verde */
    --chart-1: 220 70% 50%; /* Azul */
    --chart-2: 160 60% 45%; /* Verde */
    --chart-3: 30 80% 55%; /* Amarelo */
    --chart-4: 280 65% 60%; /* Roxo */
    --chart-5: 340 75% 55%; /* Rosa */
  }

  .hover\:bg-primary-dark:hover {
    background-color: hsl(163, 80%, 33%); /* Verde mais escuro */
  }

  .hover\:bg-secondary-dark:hover {
    background-color: hsl(162, 52.7%, 57.3%); /* Verde claro mais escuro */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}


.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logo-cont {
  padding: 30px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background: #00ba69;
  float: left;
  margin: 50px 100px;
}

.logo-cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  background: #00ba69;
  animation: grow 1s 1.5s infinite ease-out;
}

.logo-cont::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s 0.8s infinite ease-out;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.leaf {
  padding: 30px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background: white;
  float: left;
  margin: 50px 100px;
}

.leaf::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s infinite ease-in-out;
}

.leaf::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s 0.5s infinite ease-in-out;
}

.b::before {
  animation: grow 1s infinite alternate ease-in-out;
}
.b::after {
  animation: grow 1s 0.5s infinite alternate ease-in-out;
}


@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}


.c::before  {
  background: #00ba69;
  animation: grow 1.5s infinite ease-out;
}

.c::after {
  animation: grow 2s 0.5s infinite ease-out;
}


.d {
  background: transparent;
}
.d::before {
  border: 2px dotted #00ba69;
  border-bottom: 4px solid #00ba69;
  border-top: 4px solid #00ba69;
  animation: spinning 1.5s infinite linear;
}
.d::after {
  animation: grow 2s 0.5s infinite ease-out;
}

.e::before  {
  background: #00ba69;
  animation: grow 1s infinite ease-out;
}
.e::after {
  animation: grow 1s 0.5s infinite ease-out;
}


.f::before  {
  background: #00ba69;
  animation: grow 1s 1.5s infinite ease-out;
}
.f::after {
  animation: grow 1s 0.8s infinite ease-out;
}

@keyframes spinning {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
